/*
===============
VARIABLES
===============
*/

:root {
  --clr-primary: rgba(250, 250, 250, 1);
  --clr-primary-light: rgba(255, 255, 255, 1);
  --clr-primary-dark: rgba(199, 199, 199, 1);
  --clr-secondary: rgb(34, 34, 34);
  --clr-secondary-light: rgba(72, 72, 72, 1);
  --clr-secondary-dark: rgba(0, 0, 0, 1);
  --clr-error: rgba(183, 28, 28, 1);
  --clr-error-light: rgba(240, 85, 69, 1);
  --clr-error-dark: rgba(127, 0, 0, 1);
  --clr-success: rgba(27, 94, 32, 1);
  --clr-success-light: rgba(76, 140, 74, 1);
  --clr-success-dark: rgba(0, 51, 0, 1);
  font-size: 16px;
}
