/* SMALL MOBILE */

.about-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.about-designer {
    padding: 6rem 1rem 1rem 1rem;
    background: var(--clr-primary);
}

.about-header {
    padding: 0 0 2.5rem 0;
}

.about-body > .body-2 {
    padding-bottom: 2.5rem;
    line-height: 2;
}

.capabilities {
    padding: 3rem 1rem 3.5rem 1rem;
    background-color: rgb(34, 34, 34);
    color: whitesmoke;
}

.carousel {
    height: 20rem;
    position: relative;
}

.carousel > .carousel-list {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 100%;
    height: 100%;
    text-align: left;
}

.carousel-list > p  {
    line-height: 2;
}

.carousel-list > ul > li  {
    line-height: 2;
    padding-left: 2rem;
}

.carousel .slide{
    text-align: left;
}

.toolbox {
    padding: 3rem 1rem 1rem 1rem;;
    background: var(--clr-primary);
    color: black;
}

.toolbox > .body-2 {
    padding-bottom: 1rem;
    line-height: 2;
}

/* TABLET */ 

@media only screen and (min-width: 768px) {
    .about-header {
        padding: 2rem;
        width: 50%;
    }

    .about-body {
        padding: 2rem;
        width: 50%;
    }
    
    .about-designer {
        padding: 4rem;
        display: flex;
        flex-direction: row;
    }

    .capabilities {
        padding: 2rem;
        display: flex;
        flex-direction: row;
    }

    .toolbox {
        padding: 2rem;
        display: flex;
        flex-direction: row;
    }
}