/*
===============
LAPTOP SCREEN
w 1430PX
===============
*/

@media only screen and (min-width: 1000px) {
  /* Header, Logo, and Button */

  /* Hero Section */

  .hero-message {
    padding: 0 6rem 6rem 6rem;
  }

  /* Work Section */

  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 4rem;
  }

  .card {
    height: 250px;
  }

  /* Footer */
}
