/* SMALL MOBILE */

.works {
  width: 100%;
  /* height: 150vh; */
  background-color: var(--clr-secondary);
  top: 64px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 5rem;
}

.work-message {
  text-align: center;
  /*align-items: center;*/
  /* position: absolute; */
  color: rgba(255, 255, 255, 1);
  /* top: 2.5rem;
    left: 0; */
  margin-top: 4rem;
}

.work-message > h3 {
  line-height: 3.5rem;
  margin-bottom: 0.5rem;
}

.work-message > h6 {
  padding: 0 1rem 0 1rem;
}

.portfolio-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  z-index: 2;
  overflow: hidden;
  margin: 1rem 1rem 4rem 1rem;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 2rem;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 400px;
  border-radius: 0px;
  transition: all 500ms;
  overflow: hidden;
  background-color: var(--clr-primary-dark);
  background-position: center;
  background-size: cover;
}

.card > img {
  height: 100%;
}

.card-overlay {
  position: absolute;
  bottom: 0rem;
  color: var(--clr-primary);
  background: rgba(34, 34, 34,0.75);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  width: 100%;
  padding: 0.5rem;
}



/* VERTICAL TABLET */

@media only screen and (min-width: 375px) and (min-height: 1024px) {
  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 4rem;
  }

  .card > img {
    width: 100%;
  }
}

/* TABLET */

@media only screen and (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 4rem;
  }

  
  .card > img {
    width: 100%;
    object-fit: cover;
  }
}

/* LAPTOP SCREEN */
@media only screen and (min-width: 1000px) {
  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 4rem;
  }

  .card {
    height: 300px;
  }
}
